/*
Template: 2016 Service Box
Credit: http://www.tooplate.com/view/2016-service-box
*/

body {
	margin: 0px;
	padding: 0px;
	color: #333;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.7em; 
	background-color: #c3c3c3;
}

a, a:link, a:visited { 
	color: #d76300; 
	font-weight: normal; 
	text-decoration: underline; 
	font-size: 12px; 
}

a:hover { 
	text-decoration: none; 
}

a.more{ 
	display: grid; 
	width: 71px; 
	line-height: 24px; 
	text-align: center; 
	text-decoration: none; 
	font-weight: bold; 
	background-color: #e6e6e6;
	border-radius: 3px;
	color: #333; 
	text-shadow: 1px 1px 1px #fff; 
}

a.more:hover { 
	color: #fc8927; 
	text-shadow: 1px 1px 1px #333; 
}

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }
blockquote { font-style: italic; margin: 0 0 0 10px;}
cite { font-weight: bold; color:#3d8e7d; }
cite span { color: #3d8e7d; }
em { color: #3d8e7d; }

h1, h2, h3, h4, h5, h6 { color: #000; font-weight: normal; }
h1 { font-size: 34px; margin: 0 0 20px; padding: 5px 0 }
h2 { font-size: 28px; margin: 0 0 15px; padding: 5px 0; }
h3 { font-size: 24px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }



.image_wrapper { 
	border: 1px solid #fff; 
	padding: 3px; 
	background: none; 
	margin-bottom: 5px; 
}

.image_fl { 
	margin: 3px 30px 0 0; 
}

.image_fr { 
	margin: 3px 0 0 30px; 
}

.tooplate_list { 
	margin: 20px 0 20px 10px; 
	padding: 0; 
	list-style: none; 
}

.tooplate_list li { 
	color:#e17112; 
	margin: 0; 
	padding: 0 0 5px 20px; 
}

.tooplate_list li a { 
	color: #3d8e7d; 
	font-weight: normal; 
	font-size: 12px; 
	text-decoration: none; 
}

.tooplate_list li a:hover { 
	color: #000; 
}

#tooplate_wrapper {
	width: 968px;
	padding: 10px 0;
	margin: 0 auto
}

#tooplate_header { 
	width: 948px; 
	height: 120px; 
	overflow: hidden; 
	padding: 0 10px; 
}


#site_title h1 { 
	margin: 0; 
	padding: 30px 0 0 40px; 
}

#site_title h1 a { 
	height: 54px; 
	color:#d76300; 
	font-size: 35px;
	text-decoration: none;
}

#site_title h1 a span{
	font-size: 18px;
	text-align: center;
	color:#555;
}

/* menu */

#tooplate_menu { 
	display: flex;
	margin-left: 370px;
	margin-top: -13px; 
	background-color: rgb(61, 61, 61);
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 40px;
}

#tooplate_menu ul { 
	margin: 0; 
	list-style: none; 
	display: flex;
}

#tooplate_menu ul li { 
	padding: 0; 
	margin: 0; 
}

#tooplate_menu ul li a {
	display: flex;
	justify-content: center;
	width: 98px;
	border: 2px solid transparent;
	line-height: 30px;
	font-size: 14px;
	color: #fd7e11;	
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	outline: none;
}

#tooplate_menu ul li a:hover, #tooplate_menu ul .current {
	color: #333;
	text-shadow: 1px 1px 1px #ff9a43;
	background-color:#d76300;
	border-radius: 5px;
	border: 2px solid #773700;
}
/* end of menu */

#tooplate_main {
	position: relative;
	width: 940px;
	padding: 0 14px;
	background-color: white;
	padding-top: 15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#tooplate_middle {
	width: 940px;
	height: 300px;
	margin-bottom: 10px;
	background-color:#e17112;
	border-radius: 10px;
	display: flex;


}

#tooplate_middle .mid_box {
	margin: 70px 0 0 40px;
	padding: 20px;
	width: 200px;
	height: 120px;
	color: #ededed;
	background-color:#333;
	border-radius: 10px;
}

#tooplate_middle ._mid_box{
	display: flex;
	background-color:#555;
	z-index: 3;
	padding-right: 40px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

#tooplate_middle .mid_box h2 { color: #fc8927 }

#tooplate_middle .main_box {
	width: 270px;
	padding-top: 24px;
	padding-right: 30px;
	background-color:#e17112;
	padding-left: 60px;
	z-index: 1;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
#tooplate_middle p {
	margin-bottom: 20px;
}
#tooplate_middle .main_box_title {
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	line-height: 30px;
	margin-bottom: 20px;
}

#tooplate_middle .main_box_title span {
	font-size: 30px;
}

#tooplate_middle a.learn_here {
	display: grid;
	width: 242px;
	line-height: 53px;
	font-size: 24px;
	color: #333;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 1px #fff;
	background-color: white;
	border-radius: 5px;
}

#tooplate_middle a.learn_here:hover {
	color: #d76300;
	text-shadow: 1px 1px 1px #555;
}

#tooplate_content {
	width: 900px;
	padding: 20px;
}

.first_content{
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 50px;
}

.con_tit_01 { 
	font-size: 30px; 
	color: #000; 
	margin-bottom: 15px; 
}

.con_tit_02 { 
	font-size: 24px; 
	color: #000; 
	width: 200px;
	margin-bottom: 10px;
}

.col_w900 { width: 900px; margin-bottom: 40px; padding-bottom: 40px;  }
.col_w580 { width: 580px }
.col_w420 { width: 420px }
.col_w280 { width: 280px }
.col_allw280 {width: 280px; margin-right: 30px }
.col_w900_last { padding: 0; margin: 0; background: none; }
.col_last { margin: 0; }

.fp_service_box{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.second_content{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.fp_service_box img { 
	margin-right: 15px; 
}
	
.lp_box img { 
	width: 270px; 
	height: 100px; 
	border: 1px solid #CCC; 
	padding: 4px; 
}

.post_box { 
	margin: 0 0 60px; 
}

.post_box img { 
	width: 420px; 
	height: 210px; 
}

.post_header { 
	border: 1px solid #ccc; 
	border-left: 0; 
	border-right: 0; 
	padding: 5px 0; 
	margin-bottom: 20px; 
}

.post_header  h2 { 
	margin-bottom: 5px; 
}

#gallery ul li span a { 
	color: #fff; 
	font-size: 20px; 
	text-decoration: none; 
}

#map img { 
	border: 1px solid #999; 
	padding: 4px; 
}

#contact_form { 
	padding: 0; 
	width: 400px; 
}

#contact_form form { 
	margin: 0px; 
	padding: 0px; 
}

#contact_form form .input_field { 
	width: 270px; 
	color: #333; 
	padding: 5px; 
	border: 1px solid #ccc;  
	background: #fff; 
	font-family: Verdana,Geneva,sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#contact_form form label { 
	width: 100px; 
	margin-right: 10px; 
	font-size: 14px; 
	color: #000; 
}

#contact_form form textarea { 
	width: 388px; 
	height: 200px; 
	padding: 5px; 
	color: #333; 
	border: 1px solid #ccc;  
	background: #fff; 
	font-family: Verdana,Geneva,sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#contact_form form .submit_btn {
	border: 1px solid #ccc;
	background: #fff;
	font-size: 14px;
	margin: 10px 0px;
	padding: 5px 14px;
}

#tooplate_footer {
	width: 968px;
	color: #333;
	text-align: center;
	background-color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-bottom: 40px;
}

#footer_{
	text-align: center;
	margin-top: 20px;
}

hr{
	margin-bottom: 40px;
}